<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="col-sm-6 d-sm-inline-flex justify-content-start">
    <div class="row">
      <a routerLink="/" routerLinkActive="active" class="navbar-brand">
        BasedStates
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/nations" routerLinkActive="active" class="nav-link">
            Nations List
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 d-sm-inline-flex justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="/nation" class="btn btn-secondary">
          your Nation
        </button>
      </li>
    </ul>
  </div>
</nav>
