<div class="nation-summary row mx-0 my-3 p-2">
    <div class="col-2 my-1 p-0">
        <div class="flag-box">
            <img [src]="nation.flag_url" alt="">
        </div>
    </div>
    <div class="col">
        <div class="row mx-0">
            <h2>{{nation.name}}</h2>
        </div>
        <div class="row mx-0">
            <p>{{nation.description}}</p>
        </div>
        <div class="row mx-0">
            <app-political-summary [nation]="nation"></app-political-summary>
        </div>
    </div>
</div>